.orange-degrade{
	background: rgba(209,195,0,1);
	background: -moz-linear-gradient(left, rgba(209,195,0,1) 0%, rgba(199,123,0,0.97) 67%, rgba(184,113,0,0.96) 86%, rgba(199,123,0,0.95) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(209,195,0,1)), color-stop(67%, rgba(199,123,0,0.97)), color-stop(86%, rgba(184,113,0,0.96)), color-stop(100%, rgba(199,123,0,0.95)));
	background: -webkit-linear-gradient(left, rgba(209,195,0,1) 0%, rgba(199,123,0,0.97) 67%, rgba(184,113,0,0.96) 86%, rgba(199,123,0,0.95) 100%);
	background: -o-linear-gradient(left, rgba(209,195,0,1) 0%, rgba(199,123,0,0.97) 67%, rgba(184,113,0,0.96) 86%, rgba(199,123,0,0.95) 100%);
	background: -ms-linear-gradient(left, rgba(209,195,0,1) 0%, rgba(199,123,0,0.97) 67%, rgba(184,113,0,0.96) 86%, rgba(199,123,0,0.95) 100%);
	background: linear-gradient(to right, rgba(209,195,0,1) 0%, rgba(199,123,0,0.97) 67%, rgba(184,113,0,0.96) 86%, rgba(199,123,0,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1c300', endColorstr='#c77b00', GradientType=1 );
}
.activator{
	height: 195px;
	
}

.titulosParallax, .subtitulosParallax{
	color: white;
	margin-bottom: -2%;
}

.titulosParallax{
	margin-left: 9%;
}

.subtitulosParallax{
	margin-left: 25%;
}
#historia, #cervezas{
	height: 60px;
}
#imagen1{
	width: 100%;
}
